[submodule "livrable1/build/lib/cJSON"]
	path = livrable1/build/lib/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "git-scripts"]
	path = git-scripts
	url = https://github.com/notsagg/git-scripts.git
